html {
	background: white;
	padding: 0 1%;
}

.grey {
	background: lightgrey;
}

.navbar-brand-custom {
	font: 48px Times, serif;
}

.nav-link-custom {
	font: 24px Times, serif;
	color: white;
	text-align: center;
}

.title {
	font: 36px Times, serif;
}

.subtitle {
	font: 24px Times, serif;
}

.image {
	width: 100%;
	max-width: 500px;
	text-align: center;
	border: 3px solid black;
}

.portfolioimg {
	text-align: center;
	width: 80%;
	max-height: 250px;
}

.icon {
	max-width: 250px;
	max-height: 250px;
	text-align: center;
}

.about {
	width: 90%;
}

.left {
	/*
	display: block;
	margin-left: auto;
	*/
	float: left;
}

.right {
	/*
	display: block;
	margin-right: auto;
	padding: 25px;
	*/
	float: right;
}

.pad {
	padding: 2%;
}

.text {
	font: 16px Times, serif;
}

.about {
	text-align: start;
}

.nopoints {
	list-style: none;
	padding-left: 0;
}
/*
.btn {
	background: green;
	padding: 3% 8%;
	color: black;
	margin: 0 5%;
	border-radius: 5px;
	border: 3px solid black;
	cursor: pointer;
}

.btn:hover {
	background: yellow;
}

.btn-no {
	background: red;
}

.modal {
	background-color: white;
	position: fixed;
	padding: 1%;
	text-align: center;
	width: 15%;
	margin: auto;
	border: 3px solid black;
	right: 41%;
	bottom: 50%;
	z-index: 2;
}
*/