html {
	background: white;
	padding: 0 1%;
}

h1 {
	text-align: center;
}

.image {
	width: 80%;
	max-width: 500px;
	text-align: center;
	border: 3px solid black;
}

.icon {
	max-width: 250px;
	max-height: 250px;
	text-align: center;
}

.galleryitem {
	padding-top: 25px;
	padding-bottom: 25px;
}

.contactlist {
	margin: 50px;
}

.center {
	/*display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	align-items: center;
	justify-content: center;
	*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.flex {
	display: flex;
	overflow: hidden;
}

.content {
	float: left;
	padding-right: 2%;
}

.about {
	width: 70%;
}

.left {
	/*
	display: block;
	margin-left: auto;
	*/
	float: left;
}

.right {
	/*
	display: block;
	margin-right: auto;
	padding: 25px;
	*/
	float: right;
}

.pad {
	padding: 2%;
}

.text {
	text-align: start;
	font: 16px Times, serif;
}

.nopoints {
	list-style: none;
	padding-left: 0;
}

.project {
	
}

.btn {
	background: green;
	padding: 3% 8%;
	color: black;
	margin: 0 5%;
	border-radius: 5px;
	border: 3px solid black;
	cursor: pointer;
}

.btn:hover {
	background: yellow;
}

.btn-no {
	background: red;
}

.modal {
	background-color: white;
	position: fixed;
	padding: 1%;
	text-align: center;
	width: 15%;
	margin: auto;
	border: 3px solid black;
	right: 41%;
	bottom: 50%;
	z-index: 2;
}