.header {
	background-color: white;
	position: sticky;
	top: -90px;
	width: 100%;
}

.name {
	text-align: center;
	text-decoration: none;
	color: black;
	font: 48px Times, serif;
	height: 60px;
}

.bar {
	background-color: black;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	
}

.tab {
	float: left;
	margin: auto;
	padding: 0;
	display: inline;
	text-decoration: none;
}

.tab:hover {
	background-color: lightgrey;
}

.text {
	display: block;
	color: white;
	margin: auto;
	padding: 10px 100px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
}

.text:hover {
	color: black;
}