.bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: lightgrey;
	border: 1px solid black;
}

.tab {
	text-align: center;
	border-bottom: 1px solid black;
}

.tab:hover {
	background-color: white;
}

.tab a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.tab:last-child {
	border-bottom: none;
}